{{- /*
This file is Free Software under the Apache-2.0 License
without warranty, see README.md and LICENSE for details.

SPDX-License-Identifier: Apache-2.0

SPDX-FileCopyrightText: 2025 German Federal Office for Information Security (BSI) <https://www.bsi.bund.de>
Software-Engineering: 2025 Intevation GmbH <https://intevation.de>
*/ -}}
{{ template "header" . }}
{{- $sessionID := .Session.ID }}
{{- $meetings  := .Meetings }}
{{- $chair     := Role "chair" }}
{{- $user      := .User }}
{{- $meetingOnHold    := MeetingStatus "onhold" }}
{{- $meetingRunning   := MeetingStatus "running" }}
{{- $meetingConcluded := MeetingStatus "concluded" }}
{{ range $user.CommitteesWithRole $chair }}
{{- $committeeID := .ID }}
<fieldset>
  <legend>Committee <strong>{{ .Name }}</strong></legend>
  <a href="/meetings_overview?SESSIONID={{ $sessionID }}&committee={{ $committeeID }}">Meetings overview</a><br>
  <a href="/meeting_create?SESSIONID={{ $sessionID }}&committee={{ $committeeID }}">Create meeting</a>
  {{ $filter := CommitteeIDFilter .ID }}
  {{ if $meetings.Contains $filter }}
  <form action="/meetings_store" method="post" accept-charset="UTF-8">
  <table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Status</th>
      <th>Start</th>
      <th>Duration</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  {{ range $meetings.Filter $filter }}
    <tr>
      <td>
        {{- if ne .Status $meetingConcluded -}}
        <input type="checkbox" name="meetings" value="{{ .ID }}"></td>
        {{- end -}}
      <td>
        <a href="/meeting_status?SESSIONID={{ $sessionID }}&meeting={{ .ID }}&committee={{ $committeeID }}">
        {{- if      eq .Status $meetingOnHold }}Waiting
        {{- else if eq .Status $meetingRunning }}<strong>Running</strong>
        {{- else }}Concluded{{ end -}}
        </a>
      </td>
      <td>
        <a href="/meeting_edit?SESSIONID={{ $sessionID }}&meeting={{ .ID }}&committee={{ $committeeID }}"><time datetime="{{ .StartTime.UTC.Format "2006-01-02T15:04:05Z07:00" }}">{{ .StartTime.UTC.Format "2006-01-02 15:04 MST" }}</time></a>
      </td>
      <td><time datetime="{{ .Duration | DatetimeHoursMinutes }}">{{ .Duration | HoursMinutes }}</time></td>
      <td>{{ if .Description }}{{ Shorten .Description }}{{ end }}</td>
    </tr>
  {{ end }}
  </tbody>
  </table>
  <input type="hidden" name="SESSIONID" value="{{ $sessionID }}">
  <input type="hidden" name="committee" value="{{ $committeeID }}">
  <input type="submit" name="delete" value="Delete">
  <input type="reset" value="Reset">
  </form>
  {{ end }}
</fieldset>
{{ end }}
{{ template "footer" }}
