{{- /*
This file is Free Software under the Apache-2.0 License
without warranty, see README.md and LICENSE for details.

SPDX-License-Identifier: Apache-2.0

SPDX-FileCopyrightText: 2025 German Federal Office for Information Security (BSI) <https://www.bsi.bund.de>
Software-Engineering: 2025 Intevation GmbH <https://intevation.de>
*/ -}}
{{ template "header" . }}
{{ template "error" . }}
<article>
<p>Create new committee</p>
<form action="/committee_store?SESSIONID={{ .Session.ID }}" method="post" accept-charset="UTF-8">
  <label for="name">Name:</label>
  <input type="text"
         id="name"
         name="name"
         {{ if .Name }} value="{{ .Name }}"{{ end }}
         required><br>
    <label for="description">Description:</label>
    <textarea rows="3" id="description" name="description">
    {{- if .Description -}}{{ .Description }}{{ end }}</textarea><br>
  <input type="submit" value="Create">
  <input type="reset" value="Reset">
</form>
</article>
{{ template "footer" }}
