{{- /*
This file is Free Software under the Apache-2.0 License
without warranty, see README.md and LICENSE for details.

SPDX-License-Identifier: Apache-2.0

SPDX-FileCopyrightText: 2025 German Federal Office for Information Security (BSI) <https://www.bsi.bund.de>
Software-Engineering: 2025 Intevation GmbH <https://intevation.de>
*/ -}}
{{ template "header" . }}
{{- $sessionID := .Session.ID }}
{{- $meetings  := .Meetings }}
{{- $manager   := Role "manager" }}
{{- $member    := Role "member" }}
{{- $user      := .User }}
{{range $user.Committees }}
{{- $ms := $user.FindMembership .Name }}
{{- if not ($ms.HasRole $manager) }}{{ continue }}{{ end }}
<article>
  Committee: <strong><b>{{ .Name }}</b></strong><br><br>
  <a href="/meeting_create?SESSIONID={{ $sessionID }}&committee={{ .ID }}">Create meeting</a>
  {{ $filter := CommitteeIDFilter .ID }}
  {{ if $meetings.Contains $filter }}
  <form action="/meetings_store" method="post" accept-charset="UTF-8">
  <table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Start</th>
      <th>Duration</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  {{ range $meetings.Filter $filter }}
    <tr>
      <td><input type="checkbox" name="meetings" value="{{ .ID }}"></td>
      <td><a href="/meeting_edit?SESSIONID={{ $sessionID }}&meeting={{ .ID }}">{{ .StartTime.UTC.Format "2006-01-02 15:04:05 MST" }}</a></td>
      <td>{{ .Duration | HoursMinutes }} </td>
      <td>{{ if .Description }}{{ Shorten .Description }}{{ end }}</td>
    </tr>
  {{ end }}
  </tbody>
  </table>
  <input type="hidden" value="{{ $sessionID }}">
  <input type="submit" name="delete" value="Delete">
  <input type="reset" value="Reset">
  </form>
  {{ end }}
</article>
{{ end }}
{{ template "footer" }}
