{{- /*
This file is Free Software under the Apache-2.0 License
without warranty, see README.md and LICENSE for details.

SPDX-License-Identifier: Apache-2.0

SPDX-FileCopyrightText: 2025 German Federal Office for Information Security (BSI) <https://www.bsi.bund.de>
Software-Engineering: 2025 Intevation GmbH <https://intevation.de>
*/ -}}
{{ template "header" . }}
{{ template "error" . }}
{{- $sessionID      := .Session.ID }}
{{- $meetingID      := .Meeting.ID }}
{{- $gathering      := .Meeting.Gathering }}
{{- $attendees      := .Attendees }}
{{- $committeeID    := .Committee.ID }}
{{- $committeeName  := .Committee.Name }}
{{- $onhold         := eq .Meeting.Status (MeetingStatus "onhold") }}
{{- $running        := eq .Meeting.Status (MeetingStatus "running") }}
{{- $alreadyRunning := .AlreadyRunning }}
{{- $chair          := .User.CountMemberships (Role "chair") }}
{{- $allowWrite     := and $running $chair }}
{{- $concluded      := eq .Meeting.Status (MeetingStatus "concluded") }}
{{- $notOnlyMember  := or .User.IsAdmin $chair -}}
{{- if $running }}
<p><a href="/meeting_status?SESSIONID={{ $sessionID }}&meeting={{ $meetingID }}&committee={{ $committeeID }}"
      >&#x27F3; Refresh to see who has attended recently.</a>
</p>
{{- end }}
<p>
<strong>Committee</strong>: {{ $committeeName }}<br>
{{ with .Meeting }}
 <strong>Meeting</strong>: <time datetime="{{ .StartTime.UTC.Format "2006-01-02T15:04:05Z07:00" }}">{{ .StartTime.UTC.Format "2006-01-02 15:04 MST" }}</time>/<time
   datetime="{{ .Duration | DatetimeHoursMinutes }}">{{ .Duration | HoursMinutes }}</time><br>
{{ if .Description }}<strong>Description</strong>: {{ .Description }}<br>{{ end }}
{{ end }}
<br>
<strong>Status</strong>:
{{ if $chair }}
{{ if $concluded }}Concluded{{ else }}
{{- if $onhold }}[Waiting]
{{- else }}[<a href="/meeting_status_store?SESSIONID={{ $sessionID }}&meeting={{ $meetingID }}&committee={{ $committeeID }}&status=onhold">Pause</a>]
{{- end }}
{{ if or $running $alreadyRunning }}[Running]
{{- else }}[<a href="/meeting_status_store?SESSIONID={{ $sessionID }}&meeting={{ $meetingID }}&committee={{ $committeeID }}&status=running">Run</a>]
{{- end }}
[<a href="/meeting_status_store?SESSIONID={{ $sessionID }}&meeting={{ $meetingID }}&committee={{ $committeeID }}&status=concluded">Conclude</a>]
{{ end }}
{{ else }}
{{ if $concluded }}Concluded
{{ else if $onhold }}Waiting
{{ else if $running }}Running
{{ end }}
{{ end }}
<br>
{{ if $gathering }}<strong>This is only a gathering meeting!<strong>
{{ else }}
<strong>Quorum</strong>: {{ .Quorum.Number }} ({{ if not .Quorum.Reached }}not {{ end }}reached)<br>
<table>
  <thead>
  <tr>
    <th>Description</th>
    <th>Count</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Total</td>
    <td>{{ .Quorum.Total }}</td>
  </tr>
  <tr>
    <td>Members</td>
    <td>{{ .Quorum.Member }}</td>
  </tr>
  <tr>
    <td>Voting Members</td>
    <td>{{ .Quorum.Voting }}</td>
  </tr>
  <tr>
    <td>Attending Voting Members</td>
    <td>{{ .Quorum.AttendingVoting }}</td>
  </tr>
  <tr>
    <td>Persistent Non-Voting Members</td>
    <td>{{ .Quorum.NonVoting }}</td>
  </tr>
  </tbody>
</table>
{{ end }}
{{ if .Members }}
{{- $statusMember     := MemberStatus "member" }}
{{- $statusVoting     := MemberStatus "voting" }}
{{- $statusNoneVoting := MemberStatus "nonevoting" }}
<fieldset>
<legend>Attendees</legend>
{{ if $allowWrite -}}
<form action="/meeting_attend_store" method="post" accept-charset="UTF-8">
{{- end }}
<table>
<thead>
  <tr>
    <th>Attending</th>
    <th>First name</th>
    <th>Last name</th>
    {{ if $notOnlyMember }}
          <th>Login</th>
    {{ end }}
{{ if not $gathering }}
    <th>Non-Voting<br>Member</th>
    <th>Voting<br>Member</th>
    <th>Persistent<br>Non-Voting<br>Member</th>
{{ end }}
  </tr>
</thead>
<tbody>
{{ range .Members }}
  <tr>
    <td>{{ if $allowWrite }}<input type="checkbox"
                                name="attend"
                                value="{{ .Nickname }}"
                                {{ if index $attendees .Nickname }}checked{{ end }}>
        {{- else }}{{ if index $attendees .Nickname }}&check;{{ end }}
        {{- end -}}
    </td>
    <td>{{ if ne .Firstname nil }}{{ .Firstname }}{{ end }}</td>
    <td>{{ if ne .Lastname nil }}{{ .Lastname }}{{ end }}</td>
    {{ if $notOnlyMember }}
        <td>{{ .Nickname }}</td>
    {{ end }}
{{ if not $gathering }}
    {{ $ms := .FindMembership $committeeName }}
    <td>{{ if eq $ms.Status $statusMember }}&check;{{ end }}</td>
    <td>{{ if eq $ms.Status $statusVoting }}&check;{{ end }}</td>
    <td>{{ if eq $ms.Status $statusNoneVoting }}&check;{{ end }}</td>
{{ end }}
  </tr>
{{ end }}
</tbody>
</table>
{{ if $allowWrite }}
<input type="hidden" name="SESSIONID" value="{{ $sessionID }}">
<input type="hidden" name="meeting" value="{{ $meetingID }}">
<input type="hidden" name="committee" value="{{ $committeeID }}">
<input type="submit" value="Update">
<input type="reset" value="Reset">
</form>
{{ end }}
</fieldset>
{{ end }}
{{ template "footer" }}
