{{- /*
This file is Free Software under the Apache-2.0 License
without warranty, see README.md and LICENSE for details.

SPDX-License-Identifier: Apache-2.0

SPDX-FileCopyrightText: 2025 German Federal Office for Information Security (BSI) <https://www.bsi.bund.de>
Software-Engineering: 2025 Intevation GmbH <https://intevation.de>
*/ -}}
{{ template "header" . }}
{{- $sessionID     := .Session.ID }}
{{- $meetingID     := .Meeting.ID }}
{{- $attendees     := .Attendees }}
{{- $committeeID   := .Committee.ID }}
{{- $committeeName := .Committee.Name }}
{{- $onhold    := eq .Meeting.Status (MeetingStatus "onhold") }}
{{- $running   := eq .Meeting.Status (MeetingStatus "running") }}
{{- $concluded := eq .Meeting.Status (MeetingStatus "concluded") }}
<p>
<strong>Committee</strong>: {{ $committeeName }}<br>

{{ if .MembershipHistory }}
{{- $statusMember     := MemberStatus "member" }}
{{- $statusVoting     := MemberStatus "voting" }}
{{- $statusNoneVoting := MemberStatus "nonevoting" }}
<fieldset>
<legend>Attendees</legend>
<table>
<thead>
  <tr>
    <th>Time</th>
    {{ range .Members}}
    <th>{{ .Nickname }}</th>
    {{ end }}
  </tr>
</thead>
<tbody>
{{ range .MembershipHistory }}
  <tr>
    <td>{{ .Time.UTC.Format "2006-01-02T15:04:05Z07:00" }}</td>
    {{ range .Users }}
      <td>
        {{- if eq .Status $statusMember }}M
        {{- else if eq .Status $statusVoting }}V
        {{- else if eq .Status $statusNoneVoting }}P
        {{- else }}-
        {{ end }}
      </td>
    {{ end }}
  </tr>
{{ end }}
</tbody>
</table>
</fieldset>
{{ end }}
{{ template "footer" }}
