{{- /*
This file is Free Software under the Apache-2.0 License
without warranty, see README.md and LICENSE for details.

SPDX-License-Identifier: Apache-2.0

SPDX-FileCopyrightText: 2025 German Federal Office for Information Security (BSI) <https://www.bsi.bund.de>
Software-Engineering: 2025 Intevation GmbH <https://intevation.de>
*/ -}}
{{ template "header" . }}
{{ template "error" . }}
<article>
  <form action="/user_edit_store" method="post" accept-charset="UTF-8">
    {{ with .NewUser }}
    Login name: <strong>{{ .Nickname }}</strong>
    <br><br>
    <label for="firstname">First name:</label>
    <input type="text" id="firstname" name="firstname"
      {{ if .Firstname }}value="{{ .Firstname }}"{{ end }}><br>
    <label for="lastname">Last name:</label>
    <input type="text" id="lastname" name="lastname"
      {{ if .Lastname }}value="{{ .Lastname }}"{{ end }}><br>
    <label for="password">Password:</label>
    <input type="password" placeholder="********" id="password" name="password">
    <label for="password2">Confirm password:</label>
    <input type="password" placeholder="********" id="password2" name="password2">
    <br><br>
    <input type="hidden" name="nickname" value="{{ .Nickname }}">
    {{ end }}
    <input type="hidden" name="SESSIONID" value="{{ .Session.ID }}">
    <input type="submit" value="Save">
    <input type="reset" value="Reset">
  </form>
</article>
{{- if and (not .NewUser.IsAdmin) .Committees }}
<article>
  Committees:
  <form action="/user_committees_store" method="post" accept-charset="UTF-8">
  {{ template "user_committees" Args "Committees" .Committees "User" .NewUser }}
    <input type="hidden" name="nickname" value="{{ .NewUser.Nickname }}">
    <input type="hidden" name="SESSIONID" value="{{ .Session.ID }}">
    <input type="submit" value="Save">
    <input type="reset" value="Reset">
  </form>
</article>
{{ end -}}
{{ template "footer" }}
